:root{
    --accent-color: #FF6C00;
    --light-bgd: #FFFFFF;
    --dark-bgd: #303030;
    --text-accent: #9DA4BD;
    --text-color: #555555;
    --grey-bgd: #F7F7F7;
    --footer-bgd:#191C26;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.67;
  color: var(--text-color);
  margin: 0;
}
h1, h2, h3, h4, p{
    margin: 0;
}
.list {
    list-style: none;
}
.link{
    font-style: normal;
    text-decoration: none;
    color: inherit;
}
ul, ol {
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
section{
    padding:130px 0;
    outline: 1px solid red;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
   
}
.btn-appointment {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 160px;
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    border-radius: 25px;
    background-color: transparent;
    display: inline-block;
    text-align: center;
}
.btn-appointment:hover,
.btn-appointment:focus {
    background-color: var(--accent-color);
    color: var(--light-bgd);
}
.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 42px;
    line-height: 1.16;
    color: var(--dark-bgd);

}
.title-light {
    margin-top: 20px;
    margin-bottom: 44px;
}
/* header */

.header>.container {
    display: flex;
    padding:0px 55px;
    align-items: center;
    box-sizing: content-box;

}

.header-navigation {
display: flex;
}
.header-navigation:first-child{
    margin-left: 40px;
}
.header-navigation_item{
    display: inline-block;
    box-sizing: border-box;
    margin-right: 40px;
}
.header-navigation_item:last-child{
    margin-right: 0;
}
.header-navigation_link {
  
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.1em;
}
.header-navigation_link:hover,
.header-navigation_link:focus{
    color: var(--accent-color);
}
.header-contacts {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.header-contacts_link:first-child {
margin-right: 40px ;
font-weight: 600;
font-size: 12px;
line-height: 1.3;
letter-spacing: 0.1em;
text-transform: uppercase;
}
.header-contacts_link:first-child:focus,
.header-contacts_link:first-child:hover{
    color: var(--accent-color);
}
/* HERO */
.section-hero {
    background-image: url(./images/hero/hero-image@1x.png);
}
.hero-title {
    font-weight: 700;
font-size: 72px;
line-height: 1.18;
letter-spacing: 0.05em;
margin-top: 20px;
}
.subtitle-dark {
    font-weight: 600;
font-size: 11px;
line-height: 1.4;
letter-spacing: 0.1em;
text-transform: uppercase;

color: rgba(157, 164, 189, 0.6);
}
.subtitle-light {
    color: var(--dark-bgd);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.hero-text {
    font-size: 18px;
    letter-spacing: 0.02em;
    color: var(--text-accent);
    margin-top: 20px;
}
/* about */

.container-about {
    display: flex;
}
.about-image {
    display: flex;
}

.about-images {
  height: 445px;
  max-width: 270px;

}
.about-img:not(:last-child){
     margin-right: 30px;
}
.about-wrapper {
    margin-left: 64px;
}

.title-about {
    margin-top: 20px;
}
.text-accent {
    margin-top: 20px;
}

.text-about {
    margin-top: 20px;
    margin-bottom: 44px;
}

/* Price */
.price-list_item{
    letter-spacing: 0.02em;
    color: var(--text-accent);
}
.price-container .btn-appointment{
    display: inline-block;
    margin-top: 50px;
    margin-left: auto;
}
/* Experience */
.experience-container {
display: flex;
flex-flow: row-reverse;
}
.experience-list{
    margin-right: 130px;
}
.experience-list_item {
    background-color: var(--grey-bgd);
    font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-align: center;
margin-bottom: 30px;
}
.experience-text {
    font-size: 18px;
}
/* Masters */
.section-masters{
    background-color: var(--grey-bgd);
}
.masters-list {
    display: flex;
}
/* Galery */
.galery-list {
    display: flex;
    margin-top: 44px;
}
.galery-list_item{
    max-width: 270px;
    height: 360px;
    }
    .galery-list_item:not(:last-child){
        margin-right: 30px;
    }
/* FOOTER */
.footer {
    padding: 130px 55px;
    background-color: var(--footer-bgd);
}